/* .react-datepicker__month-container {
  width: 20rem;
  font-family: "Pretendard-Regular";
}

.react-datepicker__header {
  background-color: darkseagreen;
}

.react-datepicker__current-month {
  font-size: 1rem;
  color: white;
  padding: 0.5rem;
}

.react-datepicker__day-name {
  font-size: 1rem;
  color: white;
}

.react-datepicker__week {
  font-size: 1rem;
} */
