.react-datepicker__time-list-item--disabled {
  display: none;
}

.react-datepicker {
  font-family: "Pretendard-Regular";
}

.react-datepicker__triangle {
  display: none;
}

.react-datepicker__navigation {
  padding: 2rem;

  @media screen and (max-width: 769px) {
    padding: 1rem;
  }
}

.react-datepicker__month-container {
  padding: 1rem;

  @media screen and (max-width: 769px) {
    padding: 0;
  }
}

.react-datepicker__header {
  background-color: transparent;
  padding: 1rem;
}

.react-datepicker__current-month {
  margin-bottom: 1rem;
}

/* .react-datepicker__time-list {
    background-color: aliceblue;
  } */
